@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@font-face {
  font-family: 'Generica';
  src: url('/fonts/Generica.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Generica';
  src: url('/fonts/Generica Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Cutive Mono', monospace;
  font-size: 1rem;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background: #fff;
}

/* Links */
a {
  color: #333;
  text-decoration: none;
}

/* Body */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Buttons */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Fix bold h1 elements */
h1 {
  font-family: 'Generica', 'Cutive Mono', monospace;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 400;
}

/* Main Content */
main {
  padding: 2rem;
  min-height: 100vh;
}

/* Main Navigation */
.main-navigation {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-navigation a {
  text-transform: lowercase;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 0;
}